.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.underline-hover:hover{
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: .03rem;
  transition: letter-spacing .10s;
}

.hover:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Order Status Styling */
.pending-status{
  background-color: #d6bd4b;
  font-weight: 600 !important;
  color:white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  max-width: 7rem;
  text-align: center;
}

.donation-type-details{
  background-color: #3fb94c;
  font-weight: 600 !important;
  color:white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  min-width: 6rem;
  max-width: 7rem;
  text-align: center;
  font-size:1rem;
}

.request-type-details{
  background-color: #3498e1;
  font-weight: 600 !important;
  color:white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  min-width: 6rem;
  max-width: 7rem;
  text-align: center;
  font-size:1rem;
}

.request-type{
  background-color: #3498e1;
  font-weight: 600 !important;
  color:white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  min-width: 2rem;
  max-width: 3rem;
  text-align: center;
  font-size:1rem;
}

.donation-type{
  background-color: #3fb94c;
  font-weight: 600 !important;
  color:white;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
  min-width: 2rem;
  max-width: 3rem;
  text-align: center;
  font-size:1rem;
}

.no-border{
  border: 0 !important;
  background-color: white !important;
  padding-left: 0px !important;
  overflow-wrap: anywhere !important;
  width:'100%';
  background: white !important;
}

.active-order{
  background-color: #00000021 !important;
}

.label-half{
  margin-bottom: .25rem !important;
}

.order-list:hover{
  background-color: #00000021;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::placeholder{
  color:'black';
  opacity: 1;
}

.btn-outline-brand{
  color:#6f2c8e !important;
  border-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .1rem .5rem .5rem .5rem;
}

.btn-outline-brand:hover{
  color:white !important;
  background-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .1rem .5rem .5rem .5rem;
}

.btn-primary-hover{
  background-color:rgb(158, 69, 183) !important;
  color:white !important;
  border-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .5rem .5rem .5rem .5rem;
}

.btn-primary-hover:hover{
  background-color:rgb(120, 27, 146) !important;
  color: white !important;
  border-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .5rem .5rem .5rem .5rem;
}

.btn-primary-brand{
  color: #6f2c8e !important;
  background-color: white !important;
  border-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .5rem .5rem .5rem .5rem;
}

.btn-active-brand{
  background-color:#6f2c8e !important;
  color:white !important;
  border-color:#6f2c8e !important;
  border: 1px solid !important;
  margin: .1rem .5rem .5rem .5rem;
}

.toastify-brand{
  background: 'white'!important;
  border: 1px solid #6f2c8e !important;
  border-radius: 5px;
  color:black;
}

.request-list{
  min-height: calc(100%-100px) !important;
  border-right: 2px solid black;
}

.toastify-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  z-index: 9999;
  opacity: 0.7;
  background-color: rgba(255, 255, 255, 0.7);
  transform-origin: left; }
  .Toastify__progress-bar--animated {
    animation: Toastify__trackProgress linear 1 forwards; }
  .Toastify__progress-bar--controlled {
    transition: transform .2s; }
  .Toastify__progress-bar--rtl {
    right: 0;
    left: initial;
    transform-origin: right; }
  .Toastify__progress-bar--default {
    background: #6f2c8e !important;}

/* 
.btn-outline-brand{color:#6f2c8e;border-color:#6f2c8e}.btn-outline-brand:hover{color:#fff;background-color:#6f2c8e;border-color:#6f2c8e}.btn-outline-brand.focus,.btn-outline-brand:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)}.btn-outline-brand.disabled,.btn-outline-brand:disabled{color:#6f2c8e;background-color:transparent}.btn-outline-brand:not(:disabled):not(.disabled).active,.btn-outline-brand:not(:disabled):not(.disabled):active,.show>.btn-outline-brand.dropdown-toggle{color:#fff;background-color:#6f2c8e;border-color:#6f2c8e}.btn-outline-brand:not(:disabled):not(.disabled).active:focus,.btn-outline-brand:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-brand.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.5)} */

.brand{
  color: #6f2c8e;
}
