.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.underline-hover:hover{
  text-decoration: underline;
  cursor: pointer;
  letter-spacing: .03rem;
  transition: letter-spacing .10s;
}

.hover:hover{
  text-decoration: underline;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.request-type{
  background-color: #ffaf88;
  color:white;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
}

.donation-type{
  background-color: #81b987;
  color:white;
  padding: 2px 5px 2px 5px;
  border-radius: 3px;
}

.active-order{
  background-color: #00000021 !important;
}

.order-list:hover{
  background-color: #00000021;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::placeholder{
  color:'black';
  opacity: 1;
}
